#container-home,
.bg-navbar-manager,
#container-dashboard .card {
  background-color: #cf5356;
}
#imagen-login {
  content: url("../src/assets/ctt.png");
}
.btn-manager:focus,
.btn-manager:hover,
.btn-manager:active {
  background-color: #cf5356 !important;
  color: #fff !important;
  border-color: #cf5356 !important;
}
.sidenavManager .offcanvas-header,
.sidenavManager .offcanvas-header a {
  background-color: #cf5356;
  color: #fff !important;
}
.modal-content {
  background-color: #cf5356 !important;
  color: #fff !important;
}
.spinner-border.text-warning {
  color: #cf5356 !important;
}
