#container-home,
.bg-navbar-manager,
#container-dashboard .card {
  background-color: rgb(255, 83, 49);
}
.bg-navbar-manager .dropdown-manager {
  background-color: rgb(255, 83, 49);
}
#imagen-login {
  content: url("/src/assets/ctt.png");
}
.btn-manager:focus,
.btn-manager:hover,
.btn-manager:active {
  background-color: rgb(255, 83, 49) !important;
  color: #fff !important;
  border-color: rgb(255, 83, 49) !important;
}
.sidenavManager .offcanvas-header,
.sidenavManager .offcanvas-header a {
  background-color: rgb(255, 83, 49);
  color: #fff !important;
}
.modal-content {
  background-color: rgb(255, 83, 49) !important;
  color: #fff !important;
}
.spinner-border.text-warning {
  color: rgb(255, 83, 49) !important;
}
.barra-Manager:focus {
  border-color: rgb(255, 83, 49);
}
.btn-close.btn-close-black:hover {
  background-color: rgb(241, 50, 12);
}
